.imageCeil{
    width: 200px;
    height:150px;
    float: left;
}

.imageWrapper{
    display: none;
    border-radius: 5px;
    margin: 20px 20px;
    float: left;
    overflow: hidden;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
}
.imageWrapper:hover{
    transform: translate(0, -10px);
    box-shadow: #a0a0a0 0px 8px 10px;
}

.imageDesc{
    position: relative;
    height: 150px;
}

.imageHeader{
    position: absolute;
    top: -35px;
    width: 100%;
    background-color: rgba(80, 80, 80, 0.6);

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
}
.imageWrapper:hover .imageHeader{
    top: 0px;
}
.imageBottom{
    position: absolute;
    bottom: -30px;
    width: 100%;
    padding: 5px;
    background-color: rgba(80, 80, 80, 0.6);

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
}

.imageWrapper:hover .imageBottom{
    bottom:0px;
}

#page{
    display: none;
}

.pagination{
    margin: auto;
}

.collection{
    width: 25px;
    height:25px;
    background: #d7e7f3;
    border-radius: 10%;
    margin: 5px;
    position: relative;
}

.collection span{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

.collection i{
    /*color: yellow;*/
}

.collection:hover i{
    color: yellow;
}
